.ChatMessage {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.ChatMessage-self {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 10px;
}

.ChatMessage-avatar {
    width: 48px;
    height: 48px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaaaaa;
    font-weight: bold;
    text-decoration: none;
}

.ChatMessage-username {
    color: #aaaaaa;
    font-size: small;
    margin-bottom: 2px;
    margin-left: 8px;
}

.ChatMessage-content {
    background-color: white;
    padding: 10px 15px 10px 15px;
    word-wrap: break-word;
    max-width: 140px;
    width: fit-content;
    min-height: 20px;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #3f3f3f;
    background-color: #262626;
}

.ChatMessage-content-self {
    max-width: 140px;
    min-height: 20px;
    word-wrap: break-word;
    background-color: var(--theme);
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
}

.ChatMessage-system{
    width: 90%;
    color: gray;
    text-align: center;
    padding: 4px;
    font-size: small;
}