.Instruction-1 {
    display: flex;
    gap: 20px;
    justify-content: center;
    font-size: 10px;
}

.Instruction-1-cards {
    display: flex;
    gap: 4px;
}

.Instruction-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 10px;
}

.Instruction-2-next-card {
    display: flex;
    align-items: center;
    gap: 16px;
}

.Instruction-2-next-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.Instruction-3 {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 10px;
    }

.Instruction-3-item {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
}

.Instruction-4 {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 10px;
    }

.Instruction-5-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Instruction-5-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.Instruction-5-card {
    display: flex;
    align-items: center;
    font-size: large;
    gap: 16px;
}

.Instruction-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Instruction-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.Instruction-6-your-cards {
    display: flex;
}

.Instruction-6-chat {
    border: 1px var(--black-border) solid;
    border-radius: 16px;
    padding: 24px;
    width: 160px;
}