.UnoCard-img-container {
    position: relative;
}

.UnoCard-img-border {
    border-width: 2px;
    border-color: #232323;
    border-style: solid;
    padding: 0;
    position: absolute;
    top: 0;
}